.wrapper {
    display: flex;
    align-items: stretch;
}

body {
}

a, a:hover, a:focus {
    text-decoration: none;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
}

#sidebar {
    box-shadow: 5px 5px 5px grey;
}

.sb-head {
    padding: 20px;
    text-align: center;
}

#open {
    color: #fff;
    padding: 10px;
}

.sblink {
    padding: 40px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
#sidebar ul li a:hover {
    color: #d4d4d4;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black;
    background: #d3d3d3;
    font: ""
}