* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
}

body {
    background-color: #f4f5f8 !important;
    font-family: 'Open Sans', san-serif !important;
}

#sidebar {
    min-width: 275px;
    max-width: 275px;
    min-height: 100vh;
    background-color: #ff6666;
    position: fixed;
    overflow-x: hidden;
    box-shadow: 5px 5px 5px grey;
}

.sb-head {
    padding: 20px;
    text-align: center;
    background-color: #ff5050;
    color: white;
}

#menu {
    background-color: #ff5050;
}

.sblink {
    padding: 30px;
    font-size: 2em;
    color: white;
    display: block;
    font-family: 'Open Sans', san-serif !important;
}
#sidebar ul li a:hover {
    color: #ff5050;
    background: #fff;
}

#content {
    width: 75%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 325px;
    overflow-x: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    margin: 16px;
    border: .25px solid #ff6666 !important;
    font-family: 'Open Sans', san-serif !important;
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

img {
  object-fit: contain;
}

.img-fluid {
  max-height: 100%;
  height: auto;
}

.checked {
  color: orange;
}

button {
  background-color: #f2f5f8;
  border: none;
  padding: 15px 45px;
  box-shadow: 1px 1px 1px black;
}

button:hover {
  background-color: #ff6666;
  color: white;
}


/* css for search.html */
button.btn.login, btn.signup, btn.search {
  text-align: center;
  padding: 1px;
  width: 90px;
  font: helvetica;
  line-height: 2;
  border-radius: 10px;
}

body.search {
  background-image: url("../img/bg-white-01.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.search-textbox {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20vh;
}

footer {
  background-color: #ffec38;
  height: 10vh;
  bottom: 0px;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}
   
