* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}

body {
    background-color: #F4F5F8;
}

#sidebar {
    min-width: 275px;
    max-width: 275px;
    min-height: 100vh;
    background-color: #FF6666;
    position: fixed;
    overflow-x: hidden;
    box-shadow: 5px 5px 5px grey;
}

.sb-head {
    padding: 20px;
    text-align: center;
    background-color: #FF5050;
    color: white;
}

#menu {
    background-color: #FF5050;
}

.sblink {
    padding: 30px;
    font-size: 2em;
    color: white;
    display: block;
}
#sidebar ul li a:hover {
    color: #CA3433;
    background: #fff;
}

#content {
    width: 75%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 275px;
    overflow-x: hidden;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 16px;
}

.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

img {
    object-fit: contain;
}

.img-fluid {
    max-height: 100%;
    height: auto;
}

.checked {
    color: orange;
}

button {
    background-color: #d3d3d3;
    border: none;
    padding: 15px 45px;
    box-shadow: 1px 1px 1px black;
}