/* css for search.html */
.btn{
    text-align: center;
    padding: 1px;
    width: 90px;
    font: helvetica;
    line-height: 2;
    border-radius: 10px;
  }
  
  body.search {
    background-image: url("../img/bg-landscape.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .search-textbox {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20vh;
  }
  
  footer {
    background-color: #ffec38;
    height: 10vh;
    bottom: 0px;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  }

  @media all and (orientation:landscape) {

    
 }
 
 @media all and (orientation:portrait) {
    /* body.search {
        background-color: white;
      } */

      body.search {
        background-image: url("../img/bg-portrait.png");
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
      }

    
 }
 