* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.starNumber {
  margin-right: 5px;
}

/* remove the blue outline of button */

button {
  border: none;
  background: transparent;
}

button:focus {
  outline: 0 !important;
}
/* HEADER CSS */
header {
  height: 75px;
}

#logo {
  height: 40px;
}

#search-desktop {
  height:34px;
}
#logo-notext {
  height: 50px;
  display: none;
}

#prof {
  width: 35px;
}

content {
  position: absolute;
  top: 75px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

/* SIDE BAR CSS */

#sidebar {
  min-width: 20%;
  max-width: 25%;
  min-height: 100vh;
  background-color: #ff6666;
  position: fixed;
  overflow-x: hidden;
  box-shadow: 5px 5px 5px grey;
}

.sbHead {
  padding: 20px;
  text-align: center;
  background-color: #ff6666;
  border: 2px solid #ff5050;
  color: white;
  font-size: 50px;
}

.current {
  background-color: #ff5050 !important;
}

.sbButton {
  padding: 30px;
  font-size: 2em;
  color: white;
  background-color: #ff6666;
  border: none;
  width: 100%;
  display: block;
  cursor: pointer;
}

.sbButton:hover {
  color: #ff5050;
  background: #fff !important;
  transition: 0.5s ease;
}
/*
#sidebar.active {
  margin-left: 0% !important;
  transition: all 0.5s ease-in-out;
  top: 0px;
}
*/

/* UNIVERSAL CONTENT CSS */

.content {
  min-width: 75%;
  max-width: 80%;
  margin-left: 20%;
  padding: 1%;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.checked {
  color: orange;
  height: 15px;
}

.unchecked {
  color: black;
  height: 15px;
}


/* Restaurants Content CSS */

.homeCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px !important;
  margin: 16px;
  height: 350px;
  padding-bottom: 10px !important;
  box-sizing: border-box;
}

.homeImg {
  height: 80% !important;
}

.homeInfo {
  padding-left: 5px;
}

.spaceBreak {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.extraInfo {
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
  background-color: #ff6666;
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
}

.expand {
  font-style: italic;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: darkgray;
}

.closed {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.closedOverlay:hover .closed {
  opacity: 1;
  transition: 0.5s ease;
}

.closedText {
  color: white;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#mcd {
  cursor: pointer;
}

/* Menu Content CSS */

#menu {
  margin-left: 19%;
}

.menuCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  margin: 16px;
}

.menuImg {
  object-fit: contain;
  height: 200px !important;
}

.break {
  border: 3px solid #f1f1f1;
}

.imgFluid {
  max-height: 100%;
  height: auto;
}

.desktop {
  background-color: #ff6666;
  color: #fff;
  border: 1px solid #ff5050;
  width: 125px;
  height: 50px;
  font-weight: bold;
  box-shadow: 1px 1px 1px black;
  max-width: 15em !important;
  margin: 5px !important;
  cursor: pointer;
}

.dishName {
  font-weight: bold;
}

.desktop:hover {
  background-color: #ff5050;
  transition: 0.5s ease;
}

#sidebutton span {
  background-color: transparent;
}

/* REVIEW */

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 2;
  overflow-y: scroll;
}

#reviewImage {
  width: 100px;
  height: 100px;
}

.rate {
  width: 100%;
  margin-top: 5px;
}

#reviewName {
  font-weight: bold;
  font-size: 50px;
  margin-top: -10px !important;
  margin-bottom: -5px !important;
  margin-left: -5px !important;
  padding: 0px;
}

.reviewRow:after {
  content: "";
  display: table;
  clear: both;
}

#review {
  background-color: white;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid grey !important;
  overflow: visible !important;
  position: static !important;
  z-index: 9999 !important;
}

.back {
  background-color: #ff6666;
  color: #fff;
  width: 80px;
  height: 40px;
  border: 1px solid #ff5050;
  float: right;
}

.back:hover {
  background-color: #ff5050;
  transition: 0.5s ease;
}

.bar {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar5 {
  width: 0%;
  height: 18px;
  background-color: #ff6961;
}

.bar4 {
  width: 0%;
  height: 18px;
  background-color: #778ecb;
}

.bar3 {
  width: 0%;
  height: 18px;
  background-color: #ffb347;
}

.bar2 {
  width: 0%;
  height: 18px;
  background-color: #add8e6;
}

.bar1 {
  width: 0%;
  height: 18px;
  background-color: #77dd77;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.profile {
  width: 100px;
}

.right {
  text-align: right;
}

.name {
  margin-left: 2px;
  font-size: 20px;
}

.mobileOrder {
  margin-bottom: 25px;
  padding: 10px 40px;
  font-size: 30px;
  width: 100%;
  display: none;
}

.mobile-profile {
  width: 40px;
  float: left;
  margin-right: 10px;
}

.mobile-name {
  font-size: 25px;
}

.mobile-head {
  display: none;
}

#mobile-quantity {
width: 100px;
height: 100px;
text-align: center;
font-size: 50px;
border: 1px solid black;
margin: 10px;
}

#review-mobile-quantity {
text-align: center;
display: none;
}

.scrollLock {
  position: fixed;
}

/* REVIEW PAGE MEDIA QUERY */

@media (max-width: 1300px) {
  .mobileOrder {
      display: block;
      background-color: #ff6666;
      color: #fff;
      border: 1px solid #ff5050;
  }
  .mobileOrder:hover {
      background-color: #ff5050;
  }
  .right {
      display: none;
  }
  .middle {
      width: 85%;
  }
  .side {
      display: none;
  }
  .mobile-head {
      display: block;
  }
  .card {
      cursor: pointer;
  }
  #sidebar {
      z-index: 9999;
  }
  #hamburger {
      display: block;
  }
}

/* HIDE */

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}